*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(180deg,#00153b,#002b7f,#00153b);
    color:white;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
}

.logo{
    font-size:30px;
    font-weight:700;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:30px;
    font-size:18px;
    transition:.3s;
}

nav a:hover{
    color:#4ea3ff;
}

/* Banner */

.hero{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.hero h1{
    font-size:90px;
    margin-bottom:25px;
}

.hero p{
    font-size:25px;
    margin-bottom:40px;
}

.btn{
    text-decoration:none;
    color:white;
    background:#0066ff;
    padding:18px 35px;
    border-radius:50px;
    font-size:18px;
    transition:.4s;
}

.btn:hover{
    background:white;
    color:#003399;
}

/* Destaques */

.destaques{
    padding:80px 8%;
}

.destaques h2{
    text-align:center;
    font-size:55px;
    margin-bottom:60px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.card{
    width:320px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
    border-radius:25px;
    padding:40px;
    text-align:center;
    transition:.5s;
}

.card h3{
    font-size:35px;
    margin-bottom:20px;
}

.card p{
    font-size:18px;
    line-height:30px;
}

.card:hover{
    transform:translateY(-15px);
    box-shadow:0 0 30px #4ea3ff;
}

/* Rodapé */

footer{
    margin-top:100px;
    background:#000d2d;
    padding:30px;
    text-align:center;
}